.rotate-45 {
    transform: rotate(45deg);
}
.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-360 {
    transform: rotate(360deg);
}

.transform-centre {
    transform: translate(-50%, -50%);
}